/* Page Styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23252c;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 90%;
  background: #1a1b21;
  border-radius: 20px;
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }

  #root {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
